# Ignore web content
web/
wp-content/

# Ignore misc files
*.bak
*.code-workspace
*.env
*.log
*.old
*.sql
*.vscode
**/.DS_store

# This is just a file for short terms notes
scratch.html
# Contains sensitive information
wp-config.php
