#
# Environment variables for the sync script
# Copy .env-example to .env and then change variables as needed.
# You will need to change dev_path, but you can probably leave the rest.
#


# Set location of WP CLI binary and/or PHP version - examples:
#wp="/usr/bin/php7.4 /usr/local/bin/wp"
#wp="~/private/bin/wp"
wp="wp"

# SSH host for connecting to prod
remote_host="prod"

# Site aliases defined in the WP CLI config file
# Substritute the prefix `proj-` for something pertinent to your project
dev_alias="@proj-local"
prod_alias="@proj-prod"

# Site URLs WITHOUT trailing slashes
dev_url="https://localhost"
prod_url="https://example.org"

# Site root paths WITHOUT trailing slashes
dev_path="/home/username/path/to/your-docker-dev/web"
prod_path=$remote_host":prod"

# Where to store database backups on your machine
dev_host_backup_dir=$dev_path"/../backups"


